!!! 5
html
  head
    link(rel='stylesheet', href='/view/css/default.css')
    title My template
  body
    #main
      #header
        - if (session.user)
          #user= 'logged in as ' + session.user.login
          #logout
            a(href='/logout') logout
      - if (messages)
        p#warn= messages
      #container!= body