body{
	margin:0px;
	background-color:white;
	color:#565656;
	font-family: Helvetica, Arial, Sans-Serif;
}

.login-body{
    background-image:url(/view/images/login_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color:#2f96b4;
}
/* jquery ui adjustments */
div.ui-datepicker {
    font-size: 62.5%;
}
span.ui-dialog-title{
	font-size: 62.5%;
}
span.ui-button-text{
	font-size: 62.5%;
}
/* end of jquery ui adjustments */

.task-block{
	margin: 0px 0px;
	background-color: white;
	padding: 2px 2px;
	color:gray;	
}

.div-list{
	margin-bottom:5px;
    cursor: pointer;
}


.task-detail{
	margin-left: 0px;
	margin-right:0px;
	margin-bottom: 2em;
	border-bottom: 1px solid gray;
}
.date1{
	display:block;
	border:1px solid #ababab;
}
.month-string{
	display:block;
	padding:4px 0px;
	background-color: #454545;
	/*width: 100%;*/
	/*height:100%;*/
	color: #ffffff;
	font-size:1em;
	text-align: center;
	border-bottom:1px solid black;
}
.date-selected{
    background-color: #FFECB3;
}
.date-string{
	display:block;
	font-size:2em;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	margin-left: 40px;
	color:#343434;
}
.date-string>sup{
	font-size: 0.35em;
	float: right;
	margin-right:30px;
}
.date-string>sup{
	font-size: 0.35em;
	float: right;
	margin-right:30px;
}

.day-of-week-string{
	color:#acacac;
	font-size:0.45em;
	vertical-align:super;
}
.year-string{
	display:block;
	padding:2px 0px;
	background-color: #454545;
	/*width: 100%; */
	/*height:100%;*/
	color: #ffffff;
	font-size:0.7em;
	text-align: center;
	border-bottom:1px solid black;
}

/*** Form ****/
#task-input-block{
	margin:0px;
	font-size: 11px;
}
#taskForm {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 400px;
  max-width: 400px;
  width: 400px;
}

#taskForm  input, #taskForm textarea {
	font-size: 13px;
	margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 300px;
}

#taskForm textarea { overflow: auto; }
/*** end of form ***/
#main {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 1em;
}
#header {
  float: right;
  clear: both;
}
#user {
  float: left;
  margin-right: 1em;
}
#logout {
  float: left;
}
#warn {
  background-color: #fdd;
  padding: 1em;
  border: 1px solid red;
  width: 50%;
}
#container {
  clear: both;
}

.form-reg {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: white;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.completion-info{
	color:rgba(155, 155, 155, .50); 
	margin-top: -29px;
	margin-left: 0px;
	float:left; 
	font-size:2.6em
}
.hide-status {
	display: none !important;
}
.status{
	/*list-style: none;
	color: white;
	background-color: #000;
	padding: 5px;
	font-size: 1.5em;
	margin-bottom: 10px;
	border-bottom: 1px dotted #FFF;
	font-size: 1.5em;*/
	margin-bottom: 10px;
	line-height: 18px;
}
.title{
	font-size:1.0em;
}
.task-stack .title{
	font-size:1.25em;
}
.drag-container {
    width:27px;
    height:30px;
}

.task-stack .drag-container {
    margin-right: 2px;
    margin-top: 3px;
    padding-top: 0px;
    float:left;
}

.drag-container-small {
    min-width:15px;
    height:15px;
    margin-left:7px;
}
.drag-handle-small{
	width: 15px;
	color: #898989;
	cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background-color: #EEE;
    padding-left:3px;
    padding-right:1px;
}
.drag-handle {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background-image: url(/view/images/asana-sprite.png);
    background-position: 4px -746px;
    background-repeat: no-repeat;
    background-color: #EEE;
    width:27px;
    height:30px;
}

.drag-handle, .drag-handle-small{ display:none; }
.task-list:hover .drag-handle, .task-list-stack:hover .drag-handle, .subtask-edit:hover .drag-handle-small{ display:inline-block; }

.drag-handle:hover {
    cursor: move;
    background-position: -96px -746px;
    background-color: #DDD;
}

.drag-handle-small:hover {
    cursor: move;
    background-color: #CCC;
    color:#EEE;
}

.left-fixed {
	background-color: black!important;
	margin-left: 0px!important;
	border-left-width: 0px!important;
	position: fixed;
}

.fixed-left-container{
	writing-mode: tb-rl;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 50%;
	right: -4%;
	font-size: 1.5em;
	position: fixed;
	background-color: black;
	border: 2px solid #565656;
	padding:10px;
}
.fixed-left-container a{
	color:#efefff;
}
.fixed-left-container a:hover{
	color:#fff;
	text-decoration: none;
}
#task-new{
	width:255px;
}
.task-list, .project-list{
	list-style: none;
	display: inline-block;
}
.task-list-stack{
	list-style: none;
	display: block;
    width: 60%;
    float: left;
}
.task-tile{
	width:200px;
	/*height:200px;
	/*background: #2B81AB; *//* #EDEDFF */
	background: white;
	color: #999;
	float:left;
	margin:5px;
	padding-bottom: 5px;
	border:1px solid #2B81AB;
	cursor: pointer; cursor: hand;
	/*border-radius:7px;
	-moz-border-radius:10px;/* Firefox 3.6 and earlier */
	/*background-image: -webkit-linear-gradient(top, #0081AB, #00AAFF) !important;*/
}
.task-stack {
	width:90%;
	background: white;
	color: #999;
	margin:2px;
	border:1px solid #2B81AB;
	cursor: pointer; cursor: hand;
	min-height: 41px;	
}
.task-stack p{
	margin-bottom: 2px;
}
.project-tile{
	width:510px;
	background: ghostWhite;
	color: #999;
	margin:5px;
	padding-bottom: 5px;
	border:1px solid #2B81AB;
}

.task-tile.complete{
	background-image: url(/view/images/green_tick_large.png);
	background-position: left top; /*Positioning*/
	background-repeat: no-repeat;
}

.task-view-choices{
	margin-bottom: 10px;
	min-height: 20px;
	margin-right: 5px;
}
.task-view-choices a{
	padding-right: 10px;
	font-size: 0.9em;
}
.subtask-edit{
	border: 1px dotted gray;
	padding: 0px;
	margin:0px;
	padding-left: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.subtask-container {
	max-height: 150px;
	overflow-y: scroll;
}
.subtask-edit .subtask-text{
	margin:0px!important;
	border: 0px !important;
}
.todo-list {
	list-style-image: url(/view/images/red_tick.png);
	margin-left:10px;font-size:.8em;
}

.todo-list.complete{
	list-style-image: url(/view/images/green_tick.png);
	text-decoration: line-through;
}
.delete-task, .delete-project {
	float: right;
	font-size: 1.25em;
	font-family: sans-serif;
	display: block;
	font-weight: bold;
	line-height: 18px;
	color: #454545;
	text-shadow: 0 2px 0 00AAFF;
	margin-right: 7px;
	opacity: 0.4;
	filter: alpha(opacity=40);
	position: relative;
}

.custom-modal{
	width: 900px!important;
	margin: -250px 0 0 -450px !important; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */	
}

.custom-modal .modal-body{
	min-height: 400px !important;
}

.project-modal{
    width:400px!important;
    margin: -250px 0 0 -200px!important;
}
.ui-state-focus{
	background-color: white!important;
}

.drop-hover.project-facet{
	border:1px solid #FFFF33;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.drop-hover{
	font-size: 90%;
	background-color: #FFFFCC !important;
}

.drop-highlight{
	border: 2px dotted #89CFF0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tile-btn-list a{
	padding-left:5px;
	padding-right: 5px;
}

.input-append button.add-on {
    height: inherit !important;
}

.edit-task-stacked .control-group, .edit-task-stacked .control-label{
	margin-bottom:0px;
	margin-top: 0px;
}

.group-facet label{
    font-size: 0.9em;
    line-height: 2em;
    display: inline;
}

.edit-task-stacked fieldset{
    border: 1px solid #2B81AB;
    padding: 10px 0 0 20px;
    margin-right: 10px;
}

.edit-task-stacked fieldset .affix{
    margin-top: 300px;
}

.nav-header projects{

}
.tag {
    height:154px;
}
.tag li {
    border: 1px solid #AAA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    background-color: #666!important;
    color: #FFF;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: helvetica;
    font-size: 13px;
}
tag input{
    font-size: 0.9em;
}
tag button {
    border: 0;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    font-family: Arial,sans-serif;
    height: 100%;
    position: relative;
    top: 1px
}

#project-facet-container li a,
    #project-facet-container li a span{
    line-height: 11px;
    font-size: 0.95em;
}
#project-facet-container li a span.label{
    line-height: 11px;
    font-size: 0.8em;
}


/********* Animation **********/
.animate-enter {
    -webkit-animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
}
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
    }
    20% {
        opacity: .5;
    }
    40% {
        opacity: .15;
        color: red;
    }
    60% {
        opacity: .75;
    }
    80% {
        opacity: .3;
    }
    to {
        opacity: 1;
        height: 30px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
    }
    20% {
        opacity: .5;
    }
    40% {
        opacity: .15;
        color: red;
    }
    60% {
        opacity: .75;
    }
    80% {
        opacity: .3;
    }
    to {
        opacity: 1;
        height: 30px;
    }
}

.animate-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
}
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
    }
    80% {
        opacity: .25;
    }
    60% {
        opacity: .10;
        color: red;
    }
    40% {
        opacity: .5;
    }
    20% {
        opacity: .30;
    }
    from {
        opacity: 1;
        height: 30px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
    }
    80% {
        opacity: .25;
    }
    60% {
        opacity: .10;
        color: red;
    }
    40% {
        opacity: .5;
    }
    20% {
        opacity: .30;
    }
    from {
        opacity: 1;
        height: 30px;
    }
}
/********* Animation End**********/