<div ng-template="topNav"></div>
<div class="row-fluid">
    <div class="span2">
        <div id="left-container" class="well" style="width:93%">
            <div ng-template="topLeftProjects"></div>
            <div ng-template="bottomLeftFilters"></div>
        </div>
    </div>
    <div class="span10">
        <div class="btn-group" style="margin-bottom:5px">
            <a id="new-project" class="btn btn-small" href="#"><i class="icon-plus"></i> project</a>
            <a id="new-task" class="btn btn-small" href="#"> <i class="icon-plus"></i> task</a>
        </div>

        <div class="status-nav hide-status">
            <ul id="status-container" class="nav nav-tabs"></ul>
        </div>

        <div class="task-view-choices hide">
            <a href="#" data-task-view="tiled" >Tiled View</a> <a href="#" data-task-view="stacked">Stacked View</a>
        </div>
        <div id="items-container" class="ui-sortable">
            <div ng-template="projects"></div>
        </div>
    </div>
</div>
