<div class="input-block" >
    <form method="post" action="/register" id="registration-form" class="form-reg">
        <h2 class="form-signin-heading">User registration</h2>
        <p>
            <label for="username">username</label>
            <input type="text" name="username" id="username"  placeholder='username' class="input-block-level" value="{{username}}"/>
        </p>
        <p>
            <label for="email">email</label>
            <input type="text" name="email" id="email"  placeholder='email' class="input-block-level" value="{{email}}"/>
        </p>
        <p>
            <label for="password">password</label>
            <input type="password" name="password" id="password" placeholder='password make it hard to crack' value="{{password}}" class="input-block-level" />
        </p>
        <p>
            <label for="password2">password</label>
            <input type="password" name="password2" id="password2" placeholder='make sure to match' value="{{password2}}" class="input-block-level"/>
        </p>
        <p>
            <label for="firstname">firstname</label>
            <input type="text" name="firstname" id="firstname" placeholder='your first name please' value="{{firstname}}" class="input-block-level"/>
        </p>
        <p>
            <label for="lastname">lastname</label>
            <input type="text" name="lastname" id="lastname" placeholder='your last name is optional' value="{{lastname}}" class="input-block-level"/>
        </p>
        <p>
            <input type="input" id="redir" name="redir" ng-model="redir" ng-show="false"/>
            <input type="button" value="Register"  id="register-button" class="btn-custom btn-large btn-primary">
            <span>already a user </span><a href="#/login" id="login-link">sign in</a>
    </form>
</div>