<script id="project-item-template" type="text/x-handlebars-template">
  <li id="{{_id}}" class="project-list ui-helper-reset">
    <div id="div-{{_id}}" data-project-id={{_id}} class="project-tile {{#if complete}}complete{{/if}}">
      <a class="delete-project" href="#" id="delete-{{_id}}"  title="delete project"><i class="icon icon-remove"></i><a/>

      <div style="padding:10px; padding-left:32px;padding-right:20px;">
        <span class="view" style="font-size:1em;">{{title}}</span>
        <p style="font-size:.8em;">{{teaser description 300}}</p>    
      </div>
      <div style="color: white; font: 14px/24px Helvetica, Sans-Serif; 
                    letter-spacing: -1px; background: rgb(0, 0, 0);  background: rgba(0, 0, 0, 0.7);
                    padding: 5px; ">
            <div class="tile-btn-list">
              <a href="#" title="view tasks" class="view-tasks-link" data-project-id="{{_id}}"><i class="icon icon-th-list icon-white"></i></a>
                <span class="badge" title="{{stats.tasksCount}} tasks">{{stats.tasksCount}}</span>
                <span class="badge badge-success" title="{{stats.percentCompleted}}% complete">{{stats.percentCompleted}}% complete</span>
              <a href="#" title="add task" class="add-task-link" data-project-id="{{_id}}}"><i class="icon icon-plus icon-white"></i></a>
            </div>        
      </div>    
    </div>
  </li>    
</script>

<script id="project-template-edit" type="text/x-handlebars-template">
<div id="div-edit-{{_id}}" style="width:400px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color:#DEEDFF">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Project dialog</h3>
  </div>
  <div class="modal-body">
    <div style="width:auto;">
      <li id="li-{{_id}}" style="list-style: none;">
        <input type="text" id="project-title" class="input-block-level" value="{{title}}" />
        <textarea id="project-description" placeholder="Description or summary" class="input-block-level" >{{description}}</textarea>
      </li>
    </div>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    {{#if _id}}
      <input type="button" class="btn-custom btn-small delete-edit" style="height:60%!important;" id="delete-{{_id}}" value ="remove"/>  
    {{/if}}
    <button id="save-project-{{_id}}" class="btn-custom btn-small">Save changes</button>
  </div>
</div>
</script>

<script id="project-list-template" type="text/x-handlebars-template">
  <ul></ul>
</script>

<script id="project-facet-item-template" type="text/x-handlebars-template">
   <li class="project-facet" data-project-id="{{projectId}}" data-val-name="{{name}}">
    <a>
      <span>{{teaser name 13}}</span>
      <span class="label label-info pull-right">{{numberCap count 1000}}</span> 
    </a>
  </li>
</script>