<script id="task-template" type="text/x-handlebars-template">
  <li id="{{_id}}" class="task-list ui-helper-reset">
  <div id="div-{{_id}}" data-task-id={{_id}} class="task-tile {{#if complete}}complete{{/if}}">
    <a class="delete-task" href="#" id="delete-{{_id}}"  title="delete task"><i class="icon icon-remove"></i><a/>
    <div class='completion-info'>
    {{percentageCompletion tasks}}    
    </div>
    <div style="padding-top:20px; padding-left:5px;padding-right:5px;">
      <p style="font-size:.8em;">{{teaser description 120}}</p>
      {{#if group}}
        <span class="badge">{{group}}</span>
      {{/if}}
      {{#if tasks}}
        <ul>
          {{#shortList tasks 4}}
              <li id='read-subtask-{{_id}}' class='todo-list {{#if complete}}complete{{/if}}'><span>{{todo}}</span></li>
          {{/shortList}}
        </ul>
      {{/if}}
    </div>
    <div style="color: white; font: 14px/24px Helvetica, Sans-Serif; 
                  letter-spacing: -1px; background: rgb(0, 0, 0);  background: rgba(0, 0, 0, 0.7);
                  padding: 5px; ">
        <span class="view" style="font-size:1em;">{{title}}</span>
    </div>
    <div class="drag-container"> 
      <div class="drag-handle" ></div> 
    </div>
  </div>

  </li>    
</script>

<script id="task-template-stacked" type="text/x-handlebars-template">
  <li id="{{_id}}" class="task-list-stack ui-helper-reset">
  <div id="div-{{_id}}" data-task-id={{_id}} class="task-stack {{#if complete}}complete{{/if}}">
    <a class="delete-task" href="#" id="delete-{{_id}}"  title="delete task"><i class="icon icon-remove"></i><a/>      

    <div style="padding-left:5px;padding-right:5px;">
      <div class="drag-container"> 
        <div class="drag-handle" ></div> 
      </div>
      <span class="title"><strong>{{title}} </strong></span>
      <span class="badge badge-info">{{percentageCompletion tasks}}</span>
      <span class="badge badge-info">{{tasks.length}}</span>
      <p style="font-size:.8em;">{{teaser description 120}}</p> 
           
    </div>
    
  </div>

  </li>    
</script>

<script id="task-template-edit" type="text/x-handlebars-template">
<div id="div-edit-{{_id}}"  class="modal hide fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color:#DEEDFF">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Task dialog</h3>
  </div>
  <div class="modal-body">
    <div class="span12">
      <div id="div-{{_id}}">
        <input type="text" id="task-title" placeholder="Task Title" title="Task Title" class="input-block-level span12" value="{{title}}" />
        <textarea id="task-description" placeholder="Description or summary" rows="5" style="height:70px;" class="input-block-level span12" >{{description}}</textarea>
        <input type="text" id="task-group" placeholder="Group your task" title="Group" class="input-block-level span12" value="{{group}}" />
        <div class="span6" style="margin-left:0px;">  
          <div style="margin-bottom:5px;">
            <input type="text" id="new-todo" class="subtask-text span12" title="What needs to be done?" placeholder="What needs to be done?" autofocus />
         </div>    
          <div id="subtask-container" class="subtask-container edit">          
            {{#each tasks}}
              <div id="subtask-{{_id}}" class="subtask-edit">
                
                {{#if complete}}
                   <input type="checkbox" id="subtask-status-{{_id}}" checked />
                {{else}}
                  <input type="checkbox" id="subtask-status-{{_id}}" />
                {{/if}}
                <input type="text" id="subtask-{{_id}}" class="subtask-text span10" value="{{todo}}"/>
                <a href="#"  title="remove task line items"> <i class="icon icon-remove"></i> </a>  
                <span class="drag-container-small">
                  <span class="drag-handle-small">:::</span>
                </span>               
              </div>          
            {{/each}}         
          </div>
        </div>
        <div class="tags-container span6">
            <textarea id="task-tags-{{_id}}" data-tags-id="{{_id}}" rows="5" class="tags-input span12" placeholder="Tag this task" 
              >{{tags}}</textarea>
        </div> 
        
        <div class="span6">
          <span class="muted">Owner<i class="icon icon-user"></i></span>
        </div>
        <div style="margin-top:30px;">
         <textarea style="height:70px;" placeholder="comment on task" class="input-block-level span12">
         </textarea>
        </div> 
      </div>
    </div>       
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    {{#if _id}}
      <input type="button" class="btn-custom btn-small delete-edit" style="height:60%!important;" id="delete-{{_id}}" value ="remove"/>  
    {{/if}}
    <button id="save-{{_id}}" class="btn-custom btn-small">Save changes</button>
  </div>
</div>
</script>

<script script id="task-template-stacked-edit" type="text/x-handlebars-template">
<div id="div-edit-{{_id}}" class="form-vertical edit-task-stacked">
<fieldset>

<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <input type="text" id="task-title" placeholder="Task Title" class="input-xlarge" value="{{title}}" />
  </div>
</div>

<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">                     
    <textarea id="task-description" placeholder="Description or summary" rows="5">{{description}}</textarea>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Group</label>
  <div class="controls">
    <input  type="text" id="task-group" placeholder="Group your task" title="Group" class="input-xlarge" value="{{group}}" />
  </div>
</div>

<div class="control-group">
  <label class="control-label">Todo</label>
  <div class="controls">
    <input  type="text" id="new-todo" class="input-xlarge" title="What needs to be done?" placeholder="What needs to be done?" autofocus />

    <div id="subtask-container">
      {{#each tasks}}
      <div class="input-prepend">
        <span class="add-on">
          <label class="checkbox">
            <input type="checkbox" {{#if complete}}checked{{/if}}>
          </label>
        </span>
        <input type="text" id="subtask-{{_id}}" class="subtask-text" type="text" value="{{todo}}">
        <a href="#"  title="remove task line items"> <i class="icon icon-remove"></i> </a>  
          <span class="drag-container-small">
            <span class="drag-handle-small">:::</span>
          </span>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">                     
    <textarea id="task-tags-{{_id}}" data-tags-id="{{_id}}" rows="5" placeholder="Tag this task" >{{tags}}</textarea>
  </div>
</div>

</fieldset>
</div>

</script>

<script id="task-list-template" type="text/x-handlebars-template">
  <ul></ul>
</script>

<script id="header-user-info-template" type="text/x-handlebars-template">
  <span><a href="#" class="navbar-link"><i class="icon-user icon-white"></i> {{username}}</a></span>
</script>

<script id="user-registration-template" type="text/x-handlebars-template">
  <div class="input-block" >
    <form method="post" action="/register" id="registration-form" class="form-reg">
      <h2 class="form-signin-heading">Get it done user egistration</h2>
      <p>
        <label for="username">username</label>
        <input type="text" name="username" id="username"  placeholder='username' class="input-block-level" value="{{username}}"/>
      </p>
      <p>
        <label for="email">email</label>
        <input type="text" name="email" id="email"  placeholder='email' class="input-block-level" value="{{email}}"/>
      </p>
      <p>
        <label for="password">password</label>
        <input type="password" name="password" id="password" placeholder='password make it hard to crack' value="{{password}}" class="input-block-level" />
      </p>
      <p>
      <label for="password2">password</label>
      <input type="password" name="password2" id="password2" placeholder='make sure to match' value="{{password2}}" class="input-block-level"/>
      </p>
      <p>
      <label for="firstname">firstname</label>
      <input type="text" name="firstname" id="firstname" placeholder='your first name please' value="{{firstname}}" class="input-block-level"/>
      </p>
      <p>
      <label for="lastname">lastname</label>
      <input type="text" name="lastname" id="lastname" placeholder='your last name is optional' value="{{lastname}}" class="input-block-level"/>
      </p>
      <p>
      <input type="button" value="Register"  id="register-button" class="btn-custom btn-large btn-primary">
      <span>already a user </span><a href="#" id="login-link">sign in</a>
    </form>
  </div>
</script>

<script id="user-login-template" type="text/x-handlebars-template">
  <form id="login-form" action="/login", method="POST" class="form-signin">
    <h2 class="form-signin-heading"> Login</h2>
    <p>
      <label for='login'> username/email:</label>
      <input class="input-block-level" type="text" name="login"  id="login" placeholder="email" />
    </p>
    <p>
      <label for="password"> password:</label>
      <input class="input-block-level" type="password" name="password" id="password" placeholder="password" />
    </p>
    <p>
      <input class="btn-custom btn-large btn-primary" id="login" type="submit" value="login" /> 
      <a href="#" id="register-link" >sign up</a>
    </p>
  </form>
</script>

<script id="messages-template" type="text/x-handlebars-template">
  {{#if messages}}
    <div class="alert {{type}}">
      <ul class="">
        {{#messages}}
          <li>{{.}}</li>
        {{/messages}}
      </ul>
    </div>
  {{/if}}
</script>

<script id="subtask-template" type="text/x-handlerbars-template">
  <div class="subtask-edit">
    <input type="checkbox" id="subtask-status-{{_id}}" />
    <input type="text" id="subtask-{{_d}}" class="subtask-text span10" value="{{todo}}" placeholder="Enter what you need to get done" />
    <a href="#"  title="remove task line items"> <i class="icon icon-remove"></i> </a> 
    <span class="drag-container-small">
      <span class="drag-handle-small">:::</span>
    </span>
  </div>
</script>

<script id="status-template" type="text/x-handlerbars-template">
  <li class="status" id="{{status}}" data-status="{{status}}">
    <a>
      <span>{{status}}</span>
      <span class="badge">{{value}}</span> 
    </a>
  </li>
</script>

<script id="group-facet-item-template" type="text/x-handlebars-template">
   <li class="group-facet" data-val-name="{{group}}">
    <input type="checkbox" name="{{group}}" id="group-{{group}}" {{#if selected}}checked {{/if}} />
    <label for="group-{{group}}">
        <a>
          <span>{{teaser group 13}}</span>
          <span>({{numberCap value 1000}})</span>
        </a>
    </label>
  </li>
</script>