<div class="group-container" style="max-height:500px;overflow: auto;" ng-controller="taskFilterCtrl">
    <ul id="group-facet-container" class="nav nav-pills nav-stacked" >
        <li ng-repeat="group in groups" class="group-facet">
            <input type="checkbox"
                   id="group-{{group.group}}"
                   ng-model="group.checked"
                   ng-change="groupChange()"/>
            <label for="group-{{group.group}}">
                <!--<a>-->
                    <span  data-teaser="group.group" data-limit="13"></span>
                    (<span data-num-cap="group.value" data-limit="999"></span>)
                <!--</a>-->
            </label>
        </li>
    </ul>
</div>