
<form class="form-signin" method="post" action="/login">
<div ng-template="messages">

</div>
<h2 class="form-signin-heading"> Login</h2>
<p>
    <label for='login'> username/email:</label>
    <input class="input-block-level" type="text" name="login"  id="login" placeholder="email/username" ng-model="user.username" required/>
    <span ng-show="form.login.$dirty && form.login.$invalid">
        <span ng-show="form.login.$error.required">Username or email is required</span>
    </span>
</p>
<p>
    <label for="password"> password:</label>
    <input class="input-block-level" type="password" name="password" id="password" placeholder="password" ng-model="user.password" required/>
    <span ng-show="form.password.$dirty && form.password.$invalid">
        <span ng-show="form.password.$error.required">Password is required</span>
    </span>
    <input type="input" id="redir" name="redir" ng-model="redir" ng-show="false"/>
</p>
<p>
    <input class="btn-custom btn-large btn-primary" type="submit" value="login" />
    <a href="#/registration" id="register-link">sign up</a>
</p>
</form>