<div class="btn-group" style="margin-bottom:5px">
    <a ng-click="openNewDialog()" id="new-project" class="btn btn-small" href="#"><i class="icon-plus"></i> project</a>
</div>
<ul>
    <li ng-repeat="project in projects" id="{{project._id}}" class="project-list ui-helper-reset" ng-dblclick="openEditDialog(project,$index)">
        <div id="div-{{project._id}}" data-project-id="{{project._id}}" class="project-tile">
            <a class="delete-project" href="#" id="delete-{{project._id}}"  title="delete project">
                <i class="icon icon-remove"></i>
            </a>
            <div style="padding:10px; padding-left:32px;padding-right:20px;">
                <span class="view" style="font-size:1em;">{{project.title}}</span>
                <p style="font-size:.8em;">{{project.description}}</p>
            </div>
            <div style="color: white; font: 14px/24px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0);  background: rgba(0, 0, 0, 0.7); padding: 5px;">
                <div class="tile-btn-list">
                    <a href="#/projects/{{project._id}}/tasks?status=ongoing" title="view tasks" class="view-tasks-link" data-project-id="{{project._id}}">
                        <i class="icon icon-th-list icon-white"></i>
                    </a>
                    <span class="badge" title="{{project.stats.tasksCount}} tasks">{{project.stats.tasksCount}}</span>
                    <span class="badge badge-success" title="{{project.stats.percentCompleted}}% complete">{{project.stats.percentCompleted}}% complete</span>
                    <a href="#" title="add task" class="add-task-link" data-project-id="{{project._id}}}"><i class="icon icon-plus icon-white"></i></a>
                </div>
            </div>
        </div>
    </li>
</ul>