<div class="modal-header" style="background-color:#DEEDFF">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Project dialog</h3>
</div>
<div class="modal-body">
    <div style="width:auto;">
        <li style="list-style: none;">
            <input type="text" id="project-title" class="input-block-level" ng-model="project.title"  />
            <textarea id="project-description" placeholder="Description or summary" class="input-block-level" ng-model="project.description" ></textarea>
        </li>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="close()" aria-hidden="true">Close</button>

    <input ng-click="remove()" ng-show={{!isNew}} type="button" class="btn-custom btn-small delete-edit" style="height:60%!important;" value ="remove"/>

    <button ng-click="save()" class="btn-custom btn-small">Save</button>
</div>

