<div class="modal-header" style="background-color:#DEEDFF">
    <button ng-click="close()" type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Task dialog</h3>
</div>
<div class="modal-body">
    <div class="span8">
        <div>
            <input type="text" id="task-title" placeholder="Task Title" title="Task Title" class="input-block-level span8" ng-model="task.title" />
            <textarea id="task-description" placeholder="Description or summary" rows="5" style="height:70px;" class="input-block-level span8" ng-model="task.description" ></textarea>
            <input type="text" id="task-group" placeholder="Group your task" title="Group" class="input-block-level span8" ng-model="task.group" />
            <div class="span5" style="margin-left:0px;">
                <div style="margin-bottom:5px;">
                    <input type="text" id="new-todo" class="subtask-text span5" title="What needs to be done?"
                           ng-keydown="addNewTodo($event)" placeholder="What needs to be done?" autofocus />
                </div>
                <div ui-sortable="sortableOptions" id="subtask-container" class="subtask-container edit">
                    <div id= "{{$index}}" ng-repeat="todo in task.tasks" class="subtask-edit" ng-animate="'animate'">
                        <input ng-model="todo.complete" type="checkbox" ng-change="onChange(todo,$index)" />
                        <input type="text" id="subtask-{{todo._id}}" class="subtask-text span4" ng-model="todo.todo"/>
                        <a title="remove todo" ng-click="removeTodo($index)"> <i class="icon icon-remove"></i> </a>
                        <span class="drag-container-small">
                          <span class="drag-handle-small">:::</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="tags-container span3">
                <tags-input ng-model="task.tags" class="tag" placeholder="tag your task"></tags-input>
            </div>

            <div class="span6">
                <span class="muted">Owner<i class="icon icon-user"></i></span>
            </div>
            <div style="margin-top:30px;">
                <textarea style="height:70px;" placeholder="comment on task" class="input-block-level span8">
                </textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input ng-click="remove()" ng-show={{!isNew}} type="button" class="btn-custom btn-small delete-edit" style="height:60%!important;" id="delete-{{_id}}" value ="remove"/>
    <button ng-click="save()" id="save-{{_id}}" class="btn-custom btn-small">Save changes</button>
</div>
