<div class="btn-group" style="margin-bottom:5px">
    <span ng-click="openNewDialog()" id="new-task" class="btn btn-small"><i class="icon-plus"></i> task</span>
</div>
<div ng-controller="taskCtrl">
    <div class="status-nav">
        <ul id="status-container" class="nav nav-tabs">
            <li ng-repeat="status in statuses" class="status" ng-class="{active: status.isActive}">
                <a href="#/projects/{{status.projectId}}/tasks?status={{status.status}}" ng-click="switchStatus(status.status)">
                    <span>{{status.status}}</span>
                    <span class="badge">{{status.value}}</span>
                </a>
            </li>
        </ul>
    </div>

    <ul ui-sortable="sortableOptions"  class="ui-sortable">
        <li ng-repeat="task in filteredtasks" id="{{task._id}}" class="task-list ui-helper-reset" ng-dblclick="openEditDialog(task,$index)">
            <div id="div-{{task._id}}" data-task-id={{task._id}} class="task-tile" ng-class="{complete: task.complete}">
                <span class="delete-task" ng-click="remove(task,$index)"  title="delete task"><i class="icon icon-remove"></i></span>
                    <div class='completion-info'>
                        {{task.completion}}%
                    </div>
                    <div style="padding-top:20px; padding-left:5px;padding-right:5px;">
                        <p style="font-size:.8em;" data-teaser="task.description" data-limit="120"></p>
                        <span ng-show="task.group"class="badge">{{task.group}}</span>
                        <ul ng-show="task.group.length > 0">
                            <div teaser-repeat="todo in task.tasks" teaser-limit="4" teaser-title="other tasks">
                                <li  teaser-primary="todo.todo" class='todo-list' ng-class="{complete: todo.complete}">
                                    <span>{{todo.todo}}</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div style="color: white; font: 14px/24px Helvetica, Sans-Serif;
                          letter-spacing: -1px; background: rgb(0, 0, 0);  background: rgba(0, 0, 0, 0.7);
                          padding: 5px; ">
                        <span class="view" style="font-size:1em;">{{task.title}}</span>
                    </div>
                    <div class="drag-container">
                        <div class="drag-handle" ></div>
                    </div>
            </div>

        </li>

    </ul>
</div>