<div ng-controller="projectFacetCtrl">
    <a href="#/projects">
        <div class="nav-header projects">Projects</div>
    </a>
    <ul id="project-facet-container" class="nav nav-tabs nav-stacked">
        <li ng-repeat="item in tasksPerProject" class="project-facet"
            ng-animate="'animate'" data-project-id="{{item.projectId}}" data-val-name="{{item.name}}">
            <a href="#/projects/{{item.projectId}}/tasks?status=ongoing">
                <span data-teaser="item.name" data-limit="17" ></span>
                <span class="label label-info pull-right" data-num-cap="item.value" data-limit="999"></span>
            </a>
        </li>
    </ul>
</div>