<div >
    <div class="nav-header projects">Projects</div>
    <ul id="project-facet-container" class="nav nav-tabs nav-stacked">
        <li ng-repeat="item in tasksPerProject" class="project-facet" data-project-id="{{item.projectId}}" data-val-name="{{item.name}}">
            <a>
                <span data-teaser="item.name" data-limit="13"></span>
                <span class="label label-info pull-right" data-num-cap="item.value" data-limit="999"></span>
            </a>
        </li>
    </ul>
</div>