<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="userCtrl">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Task Manager</a>
            <div class="nav-collapse collapse">



                <p id="header-user-info" class="navbar-text pull-right">
                    <span><a href="#" class="navbar-link"><i class="icon-user icon-white"></i> {{user.username}}</a></span>
                    &nbsp;|&nbsp;&nbsp;<a href="/logout" class="navbar-link">logout</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#projects">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li>
      		<span class='navbar-text input-append'>
	        	<input placeholder="Search..." class="search-query"/>
    		</span>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>